@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,300;1,600&display=swap");

.form-input {
  display: block;
  background-color: #fff;
  box-shadow: 1px 1px 3px 2px #ddd;
  margin: 40px auto;
  max-width: 600px;
  max-height: 700px;
  padding: 25px 40px;
}
.form-input input,
textarea {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px auto;
  padding: 10px;
  font-family: "Poppins";
  border: 1px solid #ddd;
  background-color: #f3f3f3;
}
.form-input span {
  color: royalblue;
}
.form-input button {
  height: 50px;
  width: 60px;
  align-items: center;
  cursor: pointer;
  color: #fff;
  background-color: rgb(25, 185, 237);
  border-radius: 5px;
}
